@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #474CB5;
  transition: 0.4s;
}

h1, h2, h3{
  font-weight: bold;
}

.view-container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 180px 4em 4em;
}

@media (hover: hover) {
  a:hover {
    background-color: #96D2FF;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    margin-top: 0;
    padding-top: 0;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }

  .view-container{
    padding-left: 12em;
    padding-right: 12em;
  }
}
