@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #474CB5;
  transition: 0.4s;
}

h1, h2, h3{
  font-weight: bold;
}

.image-container{
  min-height: 100vh;
  background-size: cover;
  flex: 1 1 50%;
}

.text-side-container{
  flex-basis: 50%;
  padding: 100px 2em;
}

.view-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
}

@media (hover: hover) {
  a:hover {
    color: #6EAADC;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    margin-top: 0;
    padding-top: 0;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */
  }

  .view-container{
    width: 100vw;
    flex-direction: row;
  }

  .image-container{
    min-height: initial;
  }
}
